USE [master]
GO
/****** Object:  Database [GPS_Tracking]    Script Date: 4/25/2019 11:04:14 AM ******/
CREATE DATABASE [GPS_Tracking]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GPS_Tracking', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\GPS_Tracking.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GPS_Tracking_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\GPS_Tracking_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GPS_Tracking].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GPS_Tracking]
GO
/****** Object:  Table [dbo].[GPS_Real]    Script Date: 4/25/2019 11:04:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GPS_Real](
	[ModemId] [nvarchar](50) NULL,
	[ServerTimestamp] [nvarchar](50) NULL,
	[Long] [nvarchar](50) NULL,
	[Lat] [nvarchar](50) NULL,
	[Altitude] [nvarchar](50) NULL,
	[Direction] [nvarchar](50) NULL,
	[Satellites] [nvarchar](50) NULL,
	[Speed] [nvarchar](50) NULL,
	[ID] [int] NULL
) ON [PRIMARY]
GO
USE [master]
GO
