USE [GPS_Tracking]
GO
/****** Object:  Table [dbo].[GPS_Real]    Script Date: 13-May-19 6:29:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GPS_Real](
	[ModemId] [nvarchar](50) NULL,
	[ServerTimestamp] [nvarchar](50) NULL,
	[Long] [nvarchar](50) NULL,
	[Lat] [nvarchar](50) NULL,
	[Altitude] [nvarchar](50) NULL,
	[Direction] [nvarchar](50) NULL,
	[Satellites] [nvarchar](50) NULL,
	[Speed] [nvarchar](50) NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_GPS_Real] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[GPS_Real] ON 

INSERT [dbo].[GPS_Real] ([ModemId], [ServerTimestamp], [Long], [Lat], [Altitude], [Direction], [Satellites], [Speed], [Id]) VALUES (N'356307047582741', N'5/2/2018 7:29:27 AM', N'46.6434111', N'24.7281755', N'648', N'41', N'7', N'3', 169)
INSERT [dbo].[GPS_Real] ([ModemId], [ServerTimestamp], [Long], [Lat], [Altitude], [Direction], [Satellites], [Speed], [Id]) VALUES (N'356307047582746', N'5/2/2018 7:29:29 AM', N'46.6433998', N'24.7281668', N'649', N'283', N'7', N'6', 170)
INSERT [dbo].[GPS_Real] ([ModemId], [ServerTimestamp], [Long], [Lat], [Altitude], [Direction], [Satellites], [Speed], [Id]) VALUES (N'356307047582746', N'5/2/2018 7:29:25 AM', N'46.6434238', N'24.728158', N'648', N'328', N'7', N'11', 171)
GO
SET IDENTITY_INSERT [dbo].[GPS_Real] OFF
/****** Object:  StoredProcedure [dbo].[GPS_RealPagging]    Script Date: 13-May-19 6:29:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[GPS_RealPagging]
(
	@RowsPerPage		int=10,
	@Page				int=1,
	@ModemId			nvarchar(50)=null,
	@FromDate				DateTime=null,
	@ToDate				DateTime=null
)
as

declare @start int
declare @end int

set @start = ((@Page-1)*@RowsPerPage)+1
set @End = @Page*@RowsPerPage

select *
 from
(select ROW_NUMBER() OVER(ORDER by id desc) as Row_num,* from GPS_Real
 where ModemId=isnull(@ModemId,ModemId )
 and CONVERT(DATETIME, ServerTimestamp, 101)>= isnull(@FromDate,CONVERT(DATETIME, ServerTimestamp, 101)) and CONVERT(DATETIME, ServerTimestamp, 101)<=isnull(@ToDate,CONVERT(DATETIME, ServerTimestamp, 101))
) as MyTable
where 
Row_Num between @start and @End order by id desc
GO
