#blockedAreasMap {
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 0;
    position: relative;
}

.gmnoprint div[title="Add a marker"], 
.gmnoprint div[title="Draw a line"],
.gmnoprint div[title="Draw a rectangle"] { 
    display: none !important;
  }